/* transition height-expand start  */
.height-expand-enter-active,
.height-expand-leave-active {
  transition: height 0.3s;
  overflow: hidden;
}

/* transition height-expand end  */

/* transition fade-simple start  */

.fade-simple-enter-active,
.fade-simple-leave-active {
  transition: opacity 0.3s;
}

.fade-simple-enter,
.fade-simple-leave-to {
  opacity: 0;
}

/* transition fade-simple end  */

/* transition fade-height start  */

.fade-height-enter-active,
.fade-height-leave-active {
  transition: opacity 0.3s, height 0.3s;
  overflow: hidden;
}

.fade-height-enter,
.fade-height-leave-to {
  opacity: 0;
}

/* transition fade-height end  */

/* transition page-slide start  */
.page-slide-left-enter-active,
.page-slide-left-leave-active,
.page-slide-right-enter-active,
.page-slide-right-leave-active {
  transition-duration: 0.3s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.page-slide-left-enter,
.page-slide-right-leave-to {
  opacity: 0;
  transform: translate(2em, 0);
}

.page-slide-left-leave-to,
.page-slide-right-enter {
  opacity: 0;
  transform: translate(-2em, 0);
}

/* transition page-slide end  */

/* transition dialog-pop-out start  */
.dialog-pop-out-enter-active,
.dialog-pop-out-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
}

.dialog-pop-out-enter,
.dialog-pop-out-leave-to {
  opacity: 0;
  transform: translate3d(0, -3em, 0);
}

/* transition dialog-pop-out end  */

/* transition list-stagger end  */
.list-stagger-ctn {
  position: relative;
}

.list-stagger-item {
  transition: all 0.6s;
}

.list-stagger-enter,
.list-stagger-leave-to {
  opacity: 0;
  transform: translateY(2em);
}

.list-stagger-leave-active {
  position: absolute;
  width: 100%;
}
/* transition list-stagger end  */
