@import "~@/styles/var.scss";

@mixin forceGPU($property) {
  will-change: $property;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center {
  @extend %flex-center;
}

%mask-wrapper {
  position: fixed;
  z-index: $mask-wrapper-z-index;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @extend %flex-center;
  background: $mask-wrapper-bg;
}

%pop-out-ctn {
  border-radius: $ctn-border-radius;
  box-shadow: $ctn-box-shadow;
}
